[Unit]
Description=SSH key agent

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%h/.ssh/ssh-agent.socket
ExecStart=/bin/bash %h/.config/systemd/user/ssh-agent.sh

[Install]
WantedBy=default.target
