* 

!.ctags

!.xinitrc

!.mutt
!.mutt/muttrc

!.mailcap

!.offlineimaprc

!.vim
!.vim/plugins.vim
!.vim/ericsson.vim
!.vimrc

!.zshrc
!.zsh
!.fzf.zsh

!.tmux.conf

!Readme.md
!.gitignore
!.gitignore_global

!.config
!.config/termite
!.config/termite/config
!.config/i3
!.config/i3/config

# Xresource SUPER IMPORTANT FOR HIDPI
!.Xresources
!.Xresourcesdzlyy
