* 

!.ctags

!.xinitrc

!.mutt
!.mutt/muttrc

!.mailcap

!.offlineimaprc

!.vim
!.vim/plugins.vim
!.vim/ericsson.vim
!.vimrc
!._vimrc_local.vim
!.vim/dar-snippets
!.vim/dar-snippets/*.snippets

!.pam_environment
!.zshrc
!.zsh

!.tmux.conf

!Readme.md
!.gitignore
!.gitignore_global


!.local/
!.local/share/
!.local/share/calendars/
!.local/share/calendars/personal

# Xresource SUPER IMPORTANT FOR HIDPI
!.Xresources
!.Xresourcesdzlyy

.config/QtProject.conf
.config/hotspotrc
